# Builds and Pushes a Docker Image to DockerHub. It will get stored in the DockerRepo SmartCity.
# It uses a Ubuntu 20.04 OS
# It uses Docker official login action
# Uses Docker Build and Push Action to build and push the Image to DockerHub.
name: Build and Push Docker Image

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:

  build:

    runs-on: ubuntu-20.04

    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: merlinchiodo/smartcity:Tierheim,merlinchiodo/smartcity:Tierheim_1.0.0-${{ github.sha }}
          build-args: |
            DATABASE_URL=${{ secrets.DATABASE_URL }}
            AMQP_ADDR=${{ secrets.RABBITMQ_URL }}
          build-args: |
            DATABASE_URL=${{ secrets.DATABASE_URL }}
            AMQP_ADDR=${{ secrets.RABBITMQ_URL }}
          build-args: |
            DATABASE_URL=${{ secrets.DATABASE_URL }}
            AMQP_ADDR=${{ secrets.RABBITMQ_URL }}
